.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}


.style-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  width: 595px;
  padding-top: 10px;
  box-shadow: 2px 2px 10px grey;
  margin: 20px 0px;

}