// Colors
$main-background:#F1F1F1;
$link-color:#008080;
$link-hover-color:#0b5c5c;
$container-backgroundcolor:#F4F4F4;
$dark-blue: #333745;
$profile: #005960;
$profile: #00477E;
$profile: #004D33;
$profile:rgb(3, 7, 29);



//Spacings
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;