.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  height: 110px;

 }

.footer-box{
  display: block;
  flex: 1; 
  height: 20px;
 
}


.git-hub
{
  color:$link-color;
}


.copywrite{
  font-size: 12px;
}


