body {
  background-color:	 #DCDCDC;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;


}

a:hover{
  background: #76B5BB;
}

h3{
  font-style: normal;
  text-transform: lowercase;
  text-transform: capitalize;
}


p {
  font-style: normal;
}


li {
  font-style: normal;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  width: 100%;
}

.padding-left {
  padding-left: 10px;
} 


.resume-container{
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  width: 595px;
  /* height: 842; */
  padding-top: 10px;
  box-shadow: 2px 2px 10px grey;
  margin: 20px 0px; 
  

  /* border: 3px solid green; */
}

.resume-box-1 {
  display: block;
  /* border: 3px solid red; */
  width: 100%;
  text-align: center;

}

.resume-box-2 {
  display: block;
  width: 100%;
  text-align: left;
  /* border: 3px solid red; */

}


@media only screen and (max-width: 600px) {
    .resume-container{
      width: 100%;
      padding-top: 10px;
      box-shadow: 2px 2px 10px grey;
      margin: 10px 0px; 
    }
    
    .resume-box-1 {
      width: 100%;
    }
    
    .resume-box-2 {
      width: 100%;
    }
  }

